<h2>Pokedex</h2>
<% @pokemon.each do |pokemon| %>
  <img src="<%= pokemon.img_url %>" alt="">
  <a href="/pokemon/<%= pokemon.id %>"><p><%= pokemon.name %></p></a>
<% end %>

<a href="/pokemon/new">New</a>
