<h1>Pokedex</h1>
<section class="containareon">
  <p><a href="/pokemon/new">Add New</a></p>

  <% @pokemon.each do |pokemon| %>
    <img src="<%= pokemon.img_url %>" alt="">
    <p><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></p>
  <% end %>
</section>
