<h2>New Trainer</h2>

<div class="pokemon">
  <form action="/trainer" method="post">
    <div>
      <label>Name:</label>
      <input name="name">
    </div>

    <div>
      <label>Photo:</label>
      <input name="img_url">
    </div>

    <div>
      <label>Level:</label>
      <input name="level">
    </div>

    <div class="button">
      <input type="submit" value="Create">
    </div>
  </form>
</div>
